[submodule "singlem_host_or_ecological_predictor"]
	path = singlem_host_or_ecological_predictor
	url = https://github.com/wwood/singlem_host_or_ecological_predictor.git
[submodule "bowerbird"]
	path = bowerbird
	url = https://github.com/thepatientwait/bowerbird.git
