
/* 
 * default params 
 */


docker.enabled = true
process.container = 'us-central1-docker.pkg.dev/nextflow-singlem-sra/singlem-sra-docker-repo/singlem:0.16.0-dev4.b27c15b0-plastic3-3'

/* 
 * defines execution profiles for different environments
 */
profiles {
    test {
        params.sra_accessions_file_dir = '/home/ben/git/singlem-sra-processing/cloud/nextflow/test/'
        params.base_publishDir = 'results/'
        process {
            executor = 'local'
            publishDir = [path: 'results', mode: 'move']
        }
    }
    gcb {
        params.sra_accessions_file_dir = 'gs://singlem-sra-nextflow/sample_lists/'
        params.base_publishDir = 'gs://singlem-sra-nextflow/pipeline5_results/'
        workDir = 'gs://singlem-sra-nextflow/pipeline5_workdir'
        process {
            executor = 'google-batch'
            // 125 was the exitstatus I observed when the batch job was preempted. But I need to retry either way with increased resources
            // errorStrategy = { task.exitStatus==14 || task.exitStatus == 125 ? 'retry' : 'terminate' }
            maxRetries = 2
            publishDir = [path: 'gs://singlem-sra-nextflow/pipeline5_results', mode: 'move']
        }
        google {
            project = 'nextflow-singlem-sra'
            region = 'us-central1'
            batch.spot = true
            batch.serviceAccountEmail = '126686172593-compute@developer.gserviceaccount.com'
        }
    }
}
