
/* 
 * default params 
 */


docker.enabled = true
process.container = 'us-central1-docker.pkg.dev/nextflow-singlem-sra/singlem-sra-docker-repo/singlem:0.16.0-dev4.b27c15b0-plastic3-2'

/* 
 * defines execution profiles for different environments
 */
profiles {
    test {
        params.sra_accessions_file = '../test/sra_accessions1.txt'
        process {
            executor = 'local'
            publishDir = [path: 'results', mode: 'move']
        }
    }
    gcb {
        params.sra_accessions_file = 'gs://singlem-sra-nextflow/sra_accessions1.txt'
        workDir = 'gs://singlem-sra-nextflow/pipeline4_workdir'
        process {
            errorStrategy = 'ignore'
            executor = 'google-batch'
            errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
            maxRetries = 1 // make higher later, use 1 for testing
            publishDir = [path: 'gs://singlem-sra-nextflow/pipeline4_results', mode: 'move']
        }
        google {
            project = 'nextflow-singlem-sra'
            region = 'us-central1'
            batch.spot = true
            batch.serviceAccountEmail = '126686172593-compute@developer.gserviceaccount.com'
        }
    }
}
